
div.pushbtn {
    box-sizing: border-box;
    position:relative;
    width:100px;
    height:50px;
    min-width: 40px;
    min-height: 40px;
    border-radius:10px;
    border-style:double;
    background:slategray;
}

div.pushbtn .press {
    position:relative;
    top:0%;
    width:95%;
    left: 0%;
    height:90%;
    margin:0px;
    padding:0px;
    background:transparent;
    border-radius:10px;
    border-style: none;
    border-color: black;
    cursor: pointer;
}

div.pushbtn .press .light {
    position:absolute;
    top:10%;
    left:10%;
    width:10%;
    height:50%;
    background:black;
    border-radius:10px;
}

div.pushbtn .press .label {
    position:absolute;
    top:10%;
    left:25%;
    width:65%;
    height:50%;
    font-size:0.7em;
    font-weight:bold;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
    background:black;
}



div.pushbtn .press .lines {
    position:absolute;
    top:70%;
    left:10%;
    width:80%;
    height:25%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background:transparent;
}

div.pushbtn .press .lines .line {
    width:100%;
    height:4%;
    min-height:2px;
    background:black;
}


