div.switch {
    position:relative;
/*    display: inline-block; */
    width:100px;
    height:250px;
    border-radius:10px;
    border-style:double;
    border-color:black;
    background:silver;
}

/*
div.switch:hover {
    opacity:1.0;
}
*/

div.switch .thumb {
    position:absolute;
    top:50%;
    width:89%;
    left: 2%;
    height:46%;
    background:slategray;
    transition: transform 5s;
    border-radius:10%;
    border-style:solid;
    border-width:medium;
    border-color:black;
}


div.switch .thumb .light {
    position:absolute;
    top:12%;
    left:10%;
    width:80%;
    height:10%;
    background:black;
    border-radius:15%;
/*    border-style:solid;
    border-color:black;*/
}

div.switch .thumb .onlabel {
    position:absolute;
    top:30%;
    left:10%;
    width:80%;
    height:25%;
    font-size:1.0em;
    font-weight:bold;
    color:red;
    border-radius:15%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
    background:white;
}

div.switch .thumb .offlabel {
    position:absolute;
    top:30%;
    left:10%;
    width:80%;
    height:25%;
    font-size:1.0em;
    font-weight:bold;
    color:white;
    border-radius:15%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
    background:black;
}


div.switch .thumb .lines {
    position:absolute;
    top:60%;
    left:15%;
    width:70%;
    height:30%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background:transparent;
}

div.switch .thumb .lines .line {
    width:100%;
    height:4%;
    min-height:2px;
    background:black;
}


div.pushbtn {
    position:relative;
    width:100px;
    height:50px;
    border-radius:10px;
    border-style:double;
    background:slategray;
}

div.pushbtn .press {
    position:absolute;
    top:0%;
    width:95%;
    left: 0%;
    height:90%;
    margin:0px;
    padding:0px;
    background:transparent;
    border-radius:10px;
    border-style: none;
    border-color: black;
    cursor: pointer;
}

div.pushbtn .press .light {
    position:absolute;
    top:10%;
    left:10%;
    width:10%;
    height:50%;
    background:black;
    border-radius:10px;
}

div.pushbtn .press .label {
    position:absolute;
    top:10%;
    left:25%;
    width:65%;
    height:50%;
    font-size:0.7em;
    font-weight:bold;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
    background:black;
}



div.pushbtn .press .lines {
    position:absolute;
    top:70%;
    left:10%;
    width:80%;
    height:25%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background:transparent;
}

div.pushbtn .press .lines .line {
    width:100%;
    height:4%;
    min-height:2px;
    background:black;
}